<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
    <td class="BabLoginCadreBackground" align="center" valign="middle">
        <table width="100%" border="0" cellspacing="0" cellpadding="3" align="left">
            <OFPutVar name="hideIp" value="1">
            <OCAddon name="online">
                <OCIfNotEqual expr1="<OVPrivateIp>" expr2="---.---.---.---">
                    <OFPutVar name="hideIp" value="0">
                </OCIfNotEqual>
            </OCAddon>
            <tr class="BabSiteAdminTitleFontBackground">
                <td><OFAddon name="online" function="translate" value="User name"></td>
                <OCIfNotEqual expr1="<OVhideIp>" expr2="1">
                    <td><OFAddon name="online" function="translate" value="Private IP"></td>
                    <td><OFAddon name="online" function="translate" value="Public IP"></td>
                </OCIfNotEqual>
                <td><OFAddon name="online" function="translate" value="Login date"></td>
                <td><OFAddon name="online" function="translate" value="Last hit"></td>
            </tr>

            <OCAddon name="online">
                <tr class="BabSiteAdminFontBackground">
                    <td>
                        <OCIfNotEqual expr1="<OVDirectoryLink>" expr2="">
                            <a target="_blank" href="<OVDirectoryLink>"><OVUserName></a>
                        </OCIfNotEqual>
                        <OCIfEqual expr1="<OVDirectoryLink>" expr2="">
                            <OVUserName>
                        </OCIfEqual>
                        <OCIfGreaterThan expr1="<OVSessions>" expr2="1">
                        (<OVSessions> <OFAddon name="online" function="translate" value="Sessions">)
                        </OCIfGreaterThan>
                    </td>
                    <OCIfNotEqual expr1="<OVPrivateIp>" expr2="---.---.---.---">
                        <td><OVPrivateIp></td>
                        <td><OVPublicIp></td>
                    </OCIfNotEqual>
                    <td><OVLoginDate date="%S %T"></td>
                    <td><OVLastHitDate date="%T"></td>
                </tr>
            </OCAddon>
        </table>
    </td>
</tr>
</table>