.online-config-table {
    width: 80%;
    margin:0 auto;
}

.online-config-table td {
    padding: 5px;
}

.online-config-table td.online-col1 {
    text-align: right;
    width: 50%;
}


.online-config-table td.online-col2 {
    text-align: left;
}

.online-config-table input {
    padding: 5px;
    margin: 0 !important;
}