
<!--#begin nbronline -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabFontBackground">
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
  <tr>
    <td class="BabLoginMenuBackground" align="center" valign="middle" width="60%">{ LoggedSession } : { nbrloggedsession }</td>
    <td class="BabLoginMenuBackground" align="center" valign="middle" width="40%">{ AnonymousSession } : { nbranonymoussession }</td>
  </tr>
  <tr align="left" valign="top">
    <td width="60%">
      <table width="100%" border="0" cellspacing="0" cellpadding="2" >
        <tr align="center" valign="middle">
          <td  class="BabTopicsTitleBackground" width="33%">{ FirstnameLastname }</td>
          <td class="BabTopicsTitleBackground" width="33%">{ PrivateIP }</td>
          <td class="BabTopicsTitleBackground" width="33%">{ PublicIP }</td>
        </tr>
      </table>
      <!--#in getnext -->
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr align="center" valign="middle">
          <td class="BabFontBackground" width="33%"><a href="mailto:{ Email }">{ whoonline }</a></td>
          <td class="BabFontBackground" width="33%">&nbsp;<!--#if perso_ip -->{ perso_ip }<!--#else perso_ip -->{ NotAvailable }<!--#endif perso_ip --> </td>
          <td class="BabFontBackground" width="33%">&nbsp;{ ip }</td>
        </tr>
      </table>
      <!--#endin getnext -->
    </td>
    <td align="left" valign="top" width="40%">
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr align="center" valign="middle">
          <td class="BabTopicsTitleBackground" width="50%">{ PrivateIP }</td>
          <td class="BabTopicsTitleBackground" width="50%">{ PublicIP }</td>
        </tr>
      </table>
      <!--#in getnext1 -->
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr align="center" valign="middle">
          <td class="BabFontBackground" width="50%"><!--#if private_ip -->{ private_ip }
         <!--#else private_ip -->
        { NotAvailable }<!--#endif private_ip --></td>
          <td class="BabFontBackground" width="50%">{ anonyme_ip }</td>
        </tr>
      </table>
      <!--#endin getnext1 -->
    </td>
  </tr>
</table>
</td>
</tr>
</table>
<!--#end nbronline -->

<!--#begin nbronlineuser -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td class="BabFontBackground">
<table  width="60%" border="0" cellspacing="0" cellpadding="2" align="center" >
  <tr >
    <td  class="BabLoginMenuBackground" align="center" valign="middle" width="60%">{ sessionGroup }&nbsp;: { nbrusersession }</td>
  </tr>
  <tr align="left" valign="top">
    <td width="60%">
      <table width="100%" border="0" cellspacing="0" cellpadding="2" >
        <tr align="center" valign="middle">
          <td class="BabTopicsTitleBackground" width="33%">{ FirstnameLastname }</td>
        </tr>
      </table>
      <!--#in getnext -->
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr align="center" valign="middle">
          <td class="BabFontBackground" width="33%">{ whoonline }</td>
        </tr>
      </table>
      <!--#endin getnext -->
    </td width="50%">
  </tr>
</table>
</td>
</tr>
</table>
<!--#end nbronlineuser -->

<!--#begin admin -->
<form name="confmod" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="idx" value="options">
<input type="hidden" name="tg" value="{ babAddonTarget }/admin">
<input type="hidden" name="action" value="config">

<table class="online-config-table">
<tr>
<td class="BabLoginCadreBackground">
    <table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="2" align="center" >
      <tr>
        <td class="online-col1">{ t_view_section }</td>
        <td class="online-col2"><input type="checkbox" name="view_section" <!--#if arr[view_section] --> checked="checked"<!--#endif arr[view_section] --> /></td>
      </tr>
       <tr>
        <td class="online-col1">{ t_view_user_link  }</td>
        <td class="online-col2"><input type="checkbox" name="view_user_link" <!--#if arr[view_user_link] --> checked="checked"<!--#endif arr[view_user_link] --> /></td>
      </tr>
       <tr>
        <td class="online-col1">{ t_view_ip }</td>
        <td class="online-col2">
        <select name="view_ip">
            <option value="1"<!--#if arr[view_ip] "== 1"  --> selected<!--#endif arr[view_ip] -->>{ t_all_view_ip }</option>
            <option value="0"<!--#if arr[view_ip] "== 0"  --> selected<!--#endif arr[view_ip] -->>{ t_part_view_ip }</option>
            <option value="2"<!--#if arr[view_ip] "== 2"  --> selected<!--#endif arr[view_ip] -->>{ t_no_view_ip }</option>
        </select>
        </td>
      </tr>
       <tr>
        <td class="online-col1">{ t_nb_users_section }</td>
        <td class="online-col2"><input type="text" name="nb_users_section" value="{ arr[nb_users_section] }" size="4" maxlength="3" /></td>
      </tr>
       <tr>
        <td class="online-col1">{ t_hide_anonymous_users }</td>
        <td class="online-col2"><input type="checkbox" name="hide_anonymous" <!--#if arr[hide_anonymous_users] --> checked="checked"<!--#endif arr[hide_anonymous_users] --> /></td>
      </tr>
       <tr>
        <td align="center" colspan="2"><input type="submit" value="{ t_record }" /></td>
      </tr>
    </table>
</td>
</tr>
</table>

</form>
  <!--#end admin -->